In [95]:
import pandas as pd
import json
import numpy as np

In [96]:
with open('data-sample (1).json') as file:
    data = json.load(file)

In [97]:
df = pd.DataFrame(data)

In [98]:
df.to_csv('data.csv', index=False)

In [99]:
df

,taskLocationDone,taskCreatedTime,cod,taskAssignedTo,taskCompletedTime,taskStatus,flow,taskId,UserVar
0,"{'lon': 109.7629103, 'lat': -6.9266078}",2022-11-01 20:17:26 +0700,"{'amount': 685000, 'received': True}",pacifiedLion0,2022-11-01 20:46:30 +0700,done,Delivery,4fe3b237c832ca4841a2,"{'branch_dest': 'SRG', 'taskStatusLabel': 'Suc..."
1,"{'lon': 110.0339859, 'lat': -7.8761542}",2022-11-01 08:41:07 +0700,"{'amount': 53500, 'received': True}",peacefulTacos6,2022-11-01 12:33:48 +0700,done,Delivery,08a4da25256affae8446,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc..."
2,"{'lon': 109.999733, 'lat': -7.8497773}",2022-11-01 08:41:07 +0700,"{'amount': 179500, 'received': True}",peacefulTacos6,2022-11-01 13:41:57 +0700,done,Delivery,2ff0dc469826158b7684,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc..."
3,"{'lon': 110.0037077, 'lat': -7.710998}",2022-11-01 08:41:07 +0700,"{'amount': 31815, 'received': True}",peacefulTacos6,2022-11-01 18:18:19 +0700,done,Delivery,331c172c2b383f774328,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc..."
4,"{'lon': 110.0138869, 'lat': -7.8297416}",2022-11-01 08:41:07 +0700,"{'amount': 144562, 'received': True}",peacefulTacos6,2022-11-01 10:51:49 +0700,done,Delivery,a9d53fa96c80baee8b23,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc..."
...,...,...,...,...,...,...,...,...,...
8329,"{'lon': 0, 'lat': 0}",2022-11-10 09:07:12 +0700,NaN,debonairPonie1,2022-11-10 09:38:04 +0700,done,Delivery,501af4e040a742e9e878,"{'branch_dest': 'CGK', 'taskStatusLabel': 'Suc..."
8330,"{'lon': 110.3520537, 'lat': -7.8925713}",2022-11-10 09:21:42 +0700,NaN,murkyThrushe3,2022-11-10 09:37:52 +0700,done,Delivery,5cc952d9e9f8066dbf24,"{'branch_dest': 'JOG', 'taskStatusLabel': 'Fai..."
8331,"{'lon': 105.6648975, 'lat': -5.3590626}",2022-11-10 09:36:44 +0700,NaN,enragedCake7,2022-11-10 09:37:55 +0700,done,Delivery,1b136b5a3c60749eb571,"{'branch_dest': 'TKG', 'taskStatusLabel': 'Suc..."
8332,"{'lon': 119.8771726, 'lat': -8.5133055}",2022-11-10 07:25:40 +0700,"{'amount': 151000, 'received': False}",lyingPaella2,2022-11-10 10:37:53 +0800,done,Delivery,e92e813c8539080c922e,"{'branch_dest': 'KOE', 'taskStatusLabel': 'Fai..."
8333,"{'lon': 0, 'lat': 0}",2022-11-10 07:46:13 +0700,NaN,emptyPretzels3,2022-11-10 09:37:50 +0700,done,Delivery,cdb90c597655282306fd,"{'branch_dest': 'CGK', 'taskStatusLabel': 'Suc..."

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8334 entries, 0 to 8333
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   taskLocationDone   7566 non-null   object
 1   taskCreatedTime    8334 non-null   object
 2   cod                2358 non-null   object
 3   taskAssignedTo     8333 non-null   object
 4   taskCompletedTime  7566 non-null   object
 5   taskStatus         8334 non-null   object
 6   flow               8334 non-null   object
 7   taskId             8334 non-null   object
 8   UserVar            8334 non-null   object
dtypes: object(9)
memory usage: 586.1+ KB

In [101]:
dt = df.copy()

In [102]:
# Check for NaN or non-dictionary values in 'taskLocationDone' column
mask = dt['taskLocationDone'].apply(lambda x: isinstance(x, dict) if not pd.isnull(x) else False)

# Extract longitude and latitude values from 'taskLocationDone' column
dt.loc[mask, 'lon'] = dt.loc[mask, 'taskLocationDone'].apply(lambda x: x['lon'])
dt.loc[mask, 'lat'] = dt.loc[mask, 'taskLocationDone'].apply(lambda x: x['lat'])

# Fill NaN values in the new columns with a default value (e.g., 0)
dt['lon'] = dt['lon'].fillna(0)
dt['lat'] = dt['lat'].fillna(0)

# Drop the original 'taskLocationDone' column
dt = dt.drop('taskLocationDone', axis=1)

In [103]:
dt.head()

,taskCreatedTime,cod,taskAssignedTo,taskCompletedTime,taskStatus,flow,taskId,UserVar,lon,lat
0,2022-11-01 20:17:26 +0700,"{'amount': 685000, 'received': True}",pacifiedLion0,2022-11-01 20:46:30 +0700,done,Delivery,4fe3b237c832ca4841a2,"{'branch_dest': 'SRG', 'taskStatusLabel': 'Suc...",109.762910,-6.926608
1,2022-11-01 08:41:07 +0700,"{'amount': 53500, 'received': True}",peacefulTacos6,2022-11-01 12:33:48 +0700,done,Delivery,08a4da25256affae8446,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.033986,-7.876154
2,2022-11-01 08:41:07 +0700,"{'amount': 179500, 'received': True}",peacefulTacos6,2022-11-01 13:41:57 +0700,done,Delivery,2ff0dc469826158b7684,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",109.999733,-7.849777
3,2022-11-01 08:41:07 +0700,"{'amount': 31815, 'received': True}",peacefulTacos6,2022-11-01 18:18:19 +0700,done,Delivery,331c172c2b383f774328,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.003708,-7.710998
4,2022-11-01 08:41:07 +0700,"{'amount': 144562, 'received': True}",peacefulTacos6,2022-11-01 10:51:49 +0700,done,Delivery,a9d53fa96c80baee8b23,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.013887,-7.829742

In [104]:
# Check for NaN or non-dictionary values in 'cod' column
mask = dt['cod'].apply(lambda x: isinstance(x, dict) if not pd.isnull(x) else False)

# Extract 'amount' and 'received' values from 'cod' column
dt.loc[mask, 'cod_amount'] = dt.loc[mask, 'cod'].apply(lambda x: x['amount'])
dt.loc[mask, 'cod_status_received'] = dt.loc[mask, 'cod'].apply(lambda x: x['received'])

# Fill NaN values in the new columns with a default value (e.g., False for cod_status and 0 for cod_amount)
dt['cod_status_received'] = dt['cod_status_received'].fillna(False)
dt['cod_amount'] = dt['cod_amount'].fillna(0)

# Drop the original 'cod' column
dt = dt.drop('cod', axis=1)

In [105]:
dt.head()

,taskCreatedTime,taskAssignedTo,taskCompletedTime,taskStatus,flow,taskId,UserVar,lon,lat,cod_amount,cod_status_received
0,2022-11-01 20:17:26 +0700,pacifiedLion0,2022-11-01 20:46:30 +0700,done,Delivery,4fe3b237c832ca4841a2,"{'branch_dest': 'SRG', 'taskStatusLabel': 'Suc...",109.762910,-6.926608,685000.0,True
1,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 12:33:48 +0700,done,Delivery,08a4da25256affae8446,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.033986,-7.876154,53500.0,True
2,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 13:41:57 +0700,done,Delivery,2ff0dc469826158b7684,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",109.999733,-7.849777,179500.0,True
3,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 18:18:19 +0700,done,Delivery,331c172c2b383f774328,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.003708,-7.710998,31815.0,True
4,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 10:51:49 +0700,done,Delivery,a9d53fa96c80baee8b23,"{'branch_dest': 'MGL', 'taskStatusLabel': 'Suc...",110.013887,-7.829742,144562.0,True

In [106]:
dt.loc[0, 'UserVar']

{'branch_dest': 'SRG',
 'taskStatusLabel': 'Success',
 'receiver_city': 'BATANG ,KAB BATANG',
 'taskDetailStatusLabel': 'YANG BERSANGKUTAN',
 'taskDetailStatus': 'D01',
 'weight': '13',
 'branch_origin': 'CGK',
 'taskStatus': 'COLF01'}

In [107]:
import numpy as np

# Check for NaN or non-dictionary values in 'UserVar' column
mask = dt['UserVar'].apply(lambda x: isinstance(x, dict) if not pd.isnull(x) else False)

# Extract values from 'UserVar' column
dt.loc[mask, 'branch_dest'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('branch_dest'))
dt.loc[mask, 'taskStatusLabel'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('taskStatusLabel'))
dt.loc[mask, 'receiver_city'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('receiver_city'))
dt.loc[mask, 'taskDetailStatusLabel'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('taskDetailStatusLabel'))
dt.loc[mask, 'taskDetailStatus'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('taskDetailStatus'))
dt.loc[mask, 'weight'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('weight'))
dt.loc[mask, 'branch_origin'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('branch_origin'))
dt.loc[mask, 'taskStatus'] = dt.loc[mask, 'UserVar'].apply(lambda x: x.get('taskStatus'))

# Fill NaN values in the new columns with np.nan
dt['branch_dest'] = dt['branch_dest'].fillna(np.nan)
dt['taskStatusLabel'] = dt['taskStatusLabel'].fillna(np.nan)
dt['receiver_city'] = dt['receiver_city'].fillna(np.nan)
dt['taskDetailStatusLabel'] = dt['taskDetailStatusLabel'].fillna(np.nan)
dt['taskDetailStatus'] = dt['taskDetailStatus'].fillna(np.nan)
dt['weight'] = dt['weight'].fillna(np.nan)
dt['branch_origin'] = dt['branch_origin'].fillna(np.nan)
dt['taskStatus'] = dt['taskStatus'].fillna(np.nan)

# Drop the original 'UserVar' column
dt = dt.drop('UserVar', axis=1)

In [108]:
dt

,taskCreatedTime,taskAssignedTo,taskCompletedTime,taskStatus,flow,taskId,lon,lat,cod_amount,cod_status_received,branch_dest,taskStatusLabel,receiver_city,taskDetailStatusLabel,taskDetailStatus,weight,branch_origin
0,2022-11-01 20:17:26 +0700,pacifiedLion0,2022-11-01 20:46:30 +0700,COLF01,Delivery,4fe3b237c832ca4841a2,109.762910,-6.926608,685000.0,True,SRG,Success,"BATANG ,KAB BATANG",YANG BERSANGKUTAN,D01,13,CGK
1,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 12:33:48 +0700,COLF01,Delivery,08a4da25256affae8446,110.033986,-7.876154,53500.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,1.3,CGK
2,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 13:41:57 +0700,COLF01,Delivery,2ff0dc469826158b7684,109.999733,-7.849777,179500.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,3,CGK
3,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 18:18:19 +0700,COLF01,Delivery,331c172c2b383f774328,110.003708,-7.710998,31815.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,0.625,CGK
4,2022-11-01 08:41:07 +0700,peacefulTacos6,2022-11-01 10:51:49 +0700,COLF01,Delivery,a9d53fa96c80baee8b23,110.013887,-7.829742,144562.0,True,MGL,Success,"BAGELEN,PURWOREJO",YANG BERSANGKUTAN,D01,3,CGK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8329,2022-11-10 09:07:12 +0700,debonairPonie1,2022-11-10 09:38:04 +0700,COLF01,Delivery,501af4e040a742e9e878,0.000000,0.000000,0.0,False,CGK,Success,"PALMERAH ,JAKARTA BA",ATASAN/STAFF/KARYAWAN/BAWAHAN,D10,1,CGK
8330,2022-11-10 09:21:42 +0700,murkyThrushe3,2022-11-10 09:37:52 +0700,COLF02,Delivery,5cc952d9e9f8066dbf24,110.352054,-7.892571,0.0,False,JOG,Failed,KOTA BANTUL,ALAMAT TIDAK LENGKAP service/ TIDAK DIKENAL,U01,1,TGR
8331,2022-11-10 09:36:44 +0700,enragedCake7,2022-11-10 09:37:55 +0700,COLF01,Delivery,1b136b5a3c60749eb571,105.664897,-5.359063,0.0,False,TKG,Success,MARGA SEKAMPUNG KAB.,YANG BERSANGKUTAN,D01,1.44,CGK
8332,2022-11-10 07:25:40 +0700,lyingPaella2,2022-11-10 10:37:53 +0800,COLF02,Delivery,e92e813c8539080c922e,119.877173,-8.513305,151000.0,False,KOE,Failed,"KOMODO,LABUAN BAJO",PENERIMA PINDAH ALAMAT,U03,0.6,CGK
8333,2022-11-10 07:46:13 +0700,emptyPretzels3,2022-11-10 09:37:50 +0700,COLF01,Delivery,cdb90c597655282306fd,0.000000,0.000000,0.0,False,CGK,Success,JAKARTA PUSAT,RECEPTIONIST,D02,1,BPN

In [109]:
dt['taskCreatedTime'] = dt['taskCreatedTime'].str.replace(' \+0700', '')
dt['taskCreatedTime'] = pd.to_datetime(dt['taskCreatedTime'], format='%Y-%m-%d %H:%M:%S')

/var/folders/x2/mxk9b1gx69l4f1cm96n6zy440000gp/T/ipykernel_45030/2748431237.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dt['taskCreatedTime'] = dt['taskCreatedTime'].str.replace(' \+0700', '')

In [110]:
dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+0700', '')
dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+08:00', '')
dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+0800', '')
dt['taskCompletedTime'] = pd.to_datetime(dt['taskCompletedTime'], format='%Y-%m-%d %H:%M:%S')

/var/folders/x2/mxk9b1gx69l4f1cm96n6zy440000gp/T/ipykernel_45030/668577953.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+0700', '')
/var/folders/x2/mxk9b1gx69l4f1cm96n6zy440000gp/T/ipykernel_45030/668577953.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+08:00', '')
/var/folders/x2/mxk9b1gx69l4f1cm96n6zy440000gp/T/ipykernel_45030/668577953.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dt['taskCompletedTime'] = dt['taskCompletedTime'].str.replace(' \+0800', '')

In [117]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8334 entries, 0 to 8333
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   taskCreatedTime        8334 non-null   datetime64[ns]
 1   taskAssignedTo         8333 non-null   object
 2   taskCompletedTime      7566 non-null   object
 3   taskStatus             7572 non-null   object
 4   flow                   8334 non-null   object
 5   taskId                 8334 non-null   object
 6   lon                    8334 non-null   float64
 7   lat                    8334 non-null   float64
 8   cod_amount             8334 non-null   float64
 9   cod_status_received    8334 non-null   bool
 10  branch_dest            8334 non-null   object
 11  taskStatusLabel        7572 non-null   object
 12  receiver_city          8282 non-null   object
 13  taskDetailStatusLabel  7572 non-null   object
 14  taskDetailStatus       7572 non-null   object
 15  weight                 8334 non-null   object
 16  branch_origin          8041 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(3), object(12)
memory usage: 1.0+ MB

In [118]:
dt.loc[0, 'taskCompletedTime']

datetime.datetime(2022, 11, 1, 20, 46, 30)

In [120]:
dt.head()

,taskCreatedTime,taskAssignedTo,taskCompletedTime,taskStatus,flow,taskId,lon,lat,cod_amount,cod_status_received,branch_dest,taskStatusLabel,receiver_city,taskDetailStatusLabel,taskDetailStatus,weight,branch_origin
0,2022-11-01 20:17:26,pacifiedLion0,2022-11-01 20:46:30,COLF01,Delivery,4fe3b237c832ca4841a2,109.762910,-6.926608,685000.0,True,SRG,Success,"BATANG ,KAB BATANG",YANG BERSANGKUTAN,D01,13,CGK
1,2022-11-01 08:41:07,peacefulTacos6,2022-11-01 12:33:48,COLF01,Delivery,08a4da25256affae8446,110.033986,-7.876154,53500.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,1.3,CGK
2,2022-11-01 08:41:07,peacefulTacos6,2022-11-01 13:41:57,COLF01,Delivery,2ff0dc469826158b7684,109.999733,-7.849777,179500.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,3,CGK
3,2022-11-01 08:41:07,peacefulTacos6,2022-11-01 18:18:19,COLF01,Delivery,331c172c2b383f774328,110.003708,-7.710998,31815.0,True,MGL,Success,"PURWODADI,PURWOREJO",YANG BERSANGKUTAN,D01,0.625,CGK
4,2022-11-01 08:41:07,peacefulTacos6,2022-11-01 10:51:49,COLF01,Delivery,a9d53fa96c80baee8b23,110.013887,-7.829742,144562.0,True,MGL,Success,"BAGELEN,PURWOREJO",YANG BERSANGKUTAN,D01,3,CGK

In [123]:
dt.columns.to_list()

['taskCreatedTime',
 'taskAssignedTo',
 'taskCompletedTime',
 'taskStatus',
 'flow',
 'taskId',
 'lon',
 'lat',
 'cod_amount',
 'cod_status_received',
 'branch_dest',
 'taskStatusLabel',
 'receiver_city',
 'taskDetailStatusLabel',
 'taskDetailStatus',
 'weight',
 'branch_origin']

In [124]:
dt = dt[[ 'taskId',
 'taskAssignedTo',
 'taskCreatedTime',
 'taskCompletedTime',
 'taskStatus',
 'flow',
 'lon',
 'lat',
 'cod_amount',
 'cod_status_received',
 'branch_origin',
 'branch_dest',
 'receiver_city',
 'taskStatusLabel',
 'taskDetailStatusLabel',
 'taskDetailStatus',
 'weight']]

In [125]:
dt.to_csv('clean_mileapp_data.csv', index=False)